<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
            <h1>Editing Idea</h1>
            
            <%= render 'form', idea: @idea %>
            
            <%= link_to 'Show', @idea %> |
            <%= link_to 'Back', ideas_path %>
     </div>
     </div>
</div>
