
<div class="container-fluid" id="row_ideas">
    <div class="row">
        <% @ideas.each do |idea| %>
          <div class="col-md-4">
            <div class="blog-idea">
                    <%= image_tag idea.picture_url, width: '100%' if idea.picture.present?%>
                    <div class="xam"></div>
                    <div class="gradient"></div>
                    <div class="hinhvuong"></div>
                    <div class="chuto"><%= link_to idea.name, idea %></div>
                    <div class="chunho">
                        <%= link_to 'Edit', edit_idea_path(idea), class:'btn btn-warning' %>
                        <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div> <!--end container-fluid -->

